<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>航集市 | 注册</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/wishlist.css">
<!--===============================================================================================-->
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<!--	<style type="text/css">-->
<!--		#canvas, #video {-->
<!--			position: absolute;-->
<!--			left: 450px;-->
<!--			top: 100px;-->
<!--		}-->
<!--		#input {-->
<!--			position: absolute;-->
<!--			left: 400px;-->
<!--			top: 650px;-->
<!--		}-->

<!--		#snap {-->
<!--			position: absolute;-->
<!--			left: 950px;-->
<!--			top: 650px;-->
<!--		}-->
<!--	</style>-->
	<style>
		.btn {
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		.btn-info {
			color: #fff;
			background-color: #5bc0de;
			border-color: #46b8da;
		}
	</style>
</head>
<body class="animsition">
	
	<!-- Header -->
	<div th:replace="commons::header"></div>

	<!-- Cart -->
	<div th:replace="commons::cart"></div>


	<section class="bg0 p-t-104 p-b-116">
			<div class="container">
				<div class="flex-c flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form method="POST" th:action="@{/registerAction}">
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							请注册
                        </h4>
						<h5 class=""txt-center>
							[[${msg}]]
						</h5>
							<div class="form-row mb-4">
<!--								<div class="col">-->
<!--									 <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="昵称" required>-->
<!--								</div>-->
<!--								<div class="col">-->
<!--									<input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="名" required>-->
<!--								</div>-->
							</div>
							<div class="form-row mb-4">
								<div class="col">
									<!-- Email -->

									 <input type="email" name="username"  id="defaultRegisterFormEmail" class="form-control" placeholder="邮箱" required='should not contain capitals'>

								</div>
							</div>
<!--							<div class="form-row mb-4">-->
<!--								<div class="col">-->
<!--									&lt;!&ndash; Phone &ndash;&gt;-->
<!--									<input type="text" name="phone" id="defaultRegisterFormPhone" class="form-control" placeholder="手机" required>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="form-row mb-4">-->
<!--								<div class="col">-->
<!--									&lt;!&ndash; Phone &ndash;&gt;-->
<!--									 <input type="text" id="defaultRegisterFormPhone" class="form-control" placeholder="手机" required>-->
<!--								</div>-->
<!--								<div class="col">-->
<!--									&lt;!&ndash; Gender &ndash;&gt;-->
<!--									<select class="browser-default custom-select" id="defaultRegisterFormSelect" required>-->
<!--										<option selected>性别</option>-->
<!--										<option value="1">男</option>-->
<!--										<option value="2">女</option>-->
<!--									  </select>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="form-row mb-7">-->
<!--								<div class="col">-->
<!--									&lt;!&ndash; Address &ndash;&gt;-->
<!--									<input type="text" id="defaultRegisterFormCity" class="form-control" placeholder="城市" required>-->
<!--								</div>-->
<!--								<div class="col">-->
<!--									&lt;!&ndash;City&ndash;&gt;-->
<!--									<input type="text" id="defaultRegisterFormStreet" class="form-control" placeholder="地址" required>-->
<!--								</div>-->
<!--								<div class="col">-->
<!--									&lt;!&ndash;Zip&ndash;&gt;-->
<!--									<input type="text" id="defaultRegisterFormZip" class="form-control" placeholder="邮编" required>-->
<!--								</div>-->
<!--							</div>-->
<!--							<br>-->
							<div class="form-row mb-4">
								<div class="col">
									<!-- Password -->
									 <input type="password" name="password" id="defaultRegisterFormPassword" class="form-control" placeholder="密码（最少8位）" minlength="8" required>
								</div>
								<div class="col">
									<!-- Re-Password -->
									 <input type="password" id="defaultRegisterFormRePassword" class="form-control" placeholder="重新输入密码" minlength="8" required>
								</div>
							</div>

							<div class="form-row mb-4">
								<div class="col">
									<input class="btn btn-info" id="input" type="button" title="开启摄像头" value="开启摄像头" onclick="getMedia()"/>
								</div>
								<div class="col">
									<input class="btn btn-info" id="snap" type="button" title="拍照并保存" value="拍照并保存" onclick="takePhoto()"/>
								</div>
								<video id="video" width="500px" height="500px" autoplay="autoplay"></video>
								<canvas id="canvas" width="500px" height="500px"></canvas>
								<input id="photo" name="photo" type="hidden">
							</div>



<!--							<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer register js-register" onclick="swal('ok')">-->
							<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer register">
								注册
							</button>

					</form>

<!--							<br>-->
<!--							<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer register" type="submit">Sign Up</button>-->
							<br>
						<div class="form-group">
							<div class="col">
								<h6 class="mtext-20 cl2 txt-center p-b-30">已注册账号?<a th:href="@{/login}">登录</a></h6>
							</div>
						</div>
						
					</form> 
 
				</div>

			</div>
		</div>
	</section>


	<!-- Footer -->
	<div th:replace="commons::footer"></div>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	

<!--===============================================================================================-->	
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/slick/slick.min.js}"></script>
	<script th:src="@{/js/slick-custom.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/parallax100/parallax100.js}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/isotope/isotope.pkgd.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/sweetalert/sweetalert.min.js}"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "加入愿望清单 !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "加入愿望清单 !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		$('.js-register').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-register').html();

			$(this).on('click', function(){
				swal(nameProduct, "注册成功 !", "success");

				$(this).addClass('js-register');
				$(this).off('click');
			});
		});
        


		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>


<!--===============================================================================================-->
// <script>
// const form = document.getElementsByTagName('form')[0];
// const email = document.getElementById('defaultRegisterFormEmail');
// const password = document.getElementById('');
// const repassword = document.getElementById('');
// const phone = document.getElementById('');
// const emailError = document.querySelector('#defaultRegisterFormEmail + span.error');
// const passwordError = document.querySelector('#defaultRegisterFormEmail + span.error');

// email.addEventListener('input',function (event){

// 	if(email.validity.valid){
// 		emailError.innerHTML='';
// 		emailError.className='error'
// 	} else {
// 		showErrorEmail();
// 	}
// });

// password.addEventListener('input',function (event){

// if(password.validity.valid){
// 	passwordError.innerHTML='';
// 	passwordError.className='error'
// } else {
// 	showErrorPassword();
// }
// });

// form.addEventListener('submit', function (event) {
//   // if the email field is valid, we let the form submit

//   if(!email.validity.valid) {
//     // If it isn't, we display an appropriate error message
//     showErrorEmail();
//     // Then we prevent the form from being sent by canceling the event
//     event.preventDefault();
//   } else if(!password.validity.valid) {
// 	showErrorPassword();
// 	event.preventDefault();
//   }
// });

// function showErrorEmail() {
//   if(email.validity.valueMissing) {
//     // If the field is empty
//     // display the following error message.
//     emailError.textContent = 'You need to enter an e-mail address.';
//   } else if(email.validity.typeMismatch) {
//     // If the field doesn't contain an email address
//     // display the following error message.
//     emailError.textContent = 'Entered value needs to be an e-mail address.';
//   } else if(email.validity.tooShort) {
//     // If the data is too short
//     // display the following error message.
//     emailError.textContent = `Email should be at least ${ email.minLength } characters; you entered ${ email.value.length }.`;
//   } 

//   // Set the styling appropriately
//   emailError.className = 'error active';
// }

// function showErrorPassword() {
//   if(password.validity.valueMissing) {
//     // If the field is empty
//     // display the following error message.
//     passwordError.textContent = 'You need to enter a password.';
//   } else if(password.validity.typeMismatch) {
//     // If the field doesn't contain an email address
//     // display the following error message.
//     passwordError.textContent = 'Password must contain Capital,Simple, ';
//   } else if(email.validity.tooShort) {
//     // If the data is too short
//     // display the following error message.
//     passwordError.textContent = `Password should be at least ${ password.minLength } characters; you entered ${ password.value.length }.`;
//   } 

//   // Set the styling appropriately
//   passwordError.className = 'error active';
// }


// </script>


<!--============================================================================-->

<!--==================================================================================-->
	<script>
		//获得video摄像头区域
		let video = document.getElementById("video");

		function getMedia() {
			let constraints = {
				video: {
					width: 500,
					height: 500
				},
				audio: true
			};
			/*
            这里介绍新的方法:H5新媒体接口 navigator.mediaDevices.getUserMedia()
            这个方法会提示用户是否允许媒体输入,(媒体输入主要包括相机,视频采集设备,屏幕共享服务,麦克风,A/D转换器等)
            返回的是一个Promise对象。
            如果用户同意使用权限,则会将 MediaStream对象作为resolve()的参数传给then()
            如果用户拒绝使用权限,或者请求的媒体资源不可用,则会将 PermissionDeniedError作为reject()的参数传给catch()
            */
			let promise = navigator.mediaDevices.getUserMedia(constraints);
			promise.then(function(MediaStream) {
				video.srcObject = MediaStream;
				video.play();
			}).catch(function(PermissionDeniedError) {
				console.log(PermissionDeniedError);
			})
		}

		function takePhoto() {
			//获得Canvas对象
			let canvas = document.getElementById("canvas");
			let ctx = canvas.getContext('2d');
			ctx.drawImage(video, 0, 0, 500, 500);
			ImageData = canvas.toDataURL();
			var photo = ImageData.substr(22);
			document.getElementById("photo").value = photo;
		}

	</script>

</body>
</html>