<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>航集市 | 愿望清单</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/wishlist.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">

    <script type="text/javascript">
        function selectAll() {
            var items = document.getElementsByName('acs');
            for (var i = 0; i < items.length; i++) {
                if (items[i].type == 'checkbox')
                    items[i].checked = true;
            }
        }

        function UnSelectAll() {
            var items = document.getElementsByName('acs');
            for (var i = 0; i < items.length; i++) {
                if (items[i].type == 'checkbox')
                    items[i].checked = false;
            }
        }
    </script>


</head>

<style>
    .how-itemcart1 {
        margin-left: -50px !important;
    }
    
    .checkboxstyle {
        margin-left: 50px !important;
    }
</style>

<body class="animsition">

    <!-- Header -->
    <div th:replace="commons::header(activeUri='wishlist.html')"></div>

    <!-- Cart -->
    <div th:replace="commons::cart"></div>


    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a th:href="@{/index}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

            <span class="stext-109 cl4">
			Wishlist
			</span>
        </div>
    </div>



    <!--shopping cart new-->
    <!--shopping cart new-->







    <!-- Shoping Cart -->
    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">



                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                <input type="button" onclick='selectAll()' value="Select All" style="background: none;" />
                            </div>
                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5 m-l-10">
                                <input type="button" onclick='UnSelectAll()' value="Deselect All" style="background: none" />
                            </div>
                        </div>


                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">

                                    <th class="column-1"></th>
                                    <th class="column-2">Product Image</th>
                                    <th class="column-3">Product Name</th>
                                    <th class="column-4">Price</th>
                                    <th class="column-5"></th>
                                </tr>

                                <tr class="table_row">

                                    <td class="column-1"><input id="checkbox" class="checkboxstyle" type="checkbox" name="acs" value="Red">
                                    </td>
                                    <td class="column-2">
                                        <img th:src="@{/images/item-cart-04.jpg}" alt="IMG">
                                    </td>
                                    <td class="column-3">Red Jacket</td>
                                    <td class="column-4">LKR 36.00</td>

                                    <td class="column-5"><a href="#" data-name="RedJacket" data-price="36" data-src="images/item-cart-04.jpg" class="add-to-cart btn btn-primary">Add to cart</a></td>

                                </tr>

                                <tr class="table_row">

                                    <td class="column-1"><input id="checkbox" class="checkboxstyle" type="checkbox" name="acs" value="Blue"></td>
                                    <td class="column-2">
                                        <img th:src="@{/images/item-cart-05.jpg}" alt="IMG">
                                    </td>
                                    <td class="column-3">Light weight Jacket</td>
                                    <td class="column-4">LKR 16.00</td>
                                    <td class="column-5"><a href=" # " data-name='LightWeightJacket' data-price="16 " data-src="images/item-cart-05.jpg " class="add-to-cart btn btn-primary ">Add to cart</a></td>
                                </tr>
                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm ">
                            <div class="flex-w flex-m m-r-20 m-tb-5 ">

                            </div>

                            <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10 ">
                                Add Cart
                            </div>
                        </div>
                    </div>
                </div>







            </div>
        </div>
    </form>




    <!-- Footer -->
    <div th:replace="commons::footer"></div>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
    </div>

    <!--===============================================================================================-->
    <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/select2/select2.min.js}"></script>
    <script>
        $(".js-select2").each(function() {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script>
        $('.js-pscroll').each(function() {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function() {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/wishlist.js}"></script>

</body>

</html>